h4 {
    color: white;
}

header {
    color: #18bc9c;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

.blue {
    color:#6699FF;
}

.orange {
    color: #FFA07A;
}

.goodToKnow {
    border: 3px dashed #FFA07A;
}

.goodToKnow p {
    text-align: left;
}

@media(min-width:768px) {
    header .container {
        padding-top: 100px;
        padding-bottom: 10px;
    }
}

section {
    padding: 30px;
}

#portfolio {
    background-color: #18bc9c;
}

.Business {
    background-color: #FFA07A;
}
